html {
    font-family: 'Rubik', sans-serif, monospace;
    color: #585850;
    user-select: none;
}

body {
    background-color: #6b6b6b;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    min-width: 320px;
    display: flex;
}

.fixed {
    position: fixed;
    z-index: 2;
}

.topBorder {
    background-color: #6b6b6b;
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #2b2b2b;
    display: flex;
    position: fixed;
    z-index: 2;
    align-items: center;
    min-width: 320px;
}

.titleBox {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad943a;
    width: 230px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid #585850;
    box-shadow: 0 0 10px 4px #2b2b2b;
}

h1 {
    font-size: 1.125rem;
    font-weight: bold;
    color: #f8f8f8;
    text-shadow: 2px 2px 1px #2b2b2b;
    transform: translate(0, -25%);
}

h1 img {
    width: 30px;
    height: 30px;
    transform: translate(0, 30%);
}

.lightGrayBox {
    width: 90px;
    height: 100px;
    margin-left: auto;
    background-color: #8c8c8c;
    border-left: 4px solid #2b2b2b;
    display: flex;
    align-items: center;
}

.botBorder {
    background-color: #6b6b6b;
    height: 100px;
    width: 100%;
    border-top: 3px solid #2b2b2b;
    display: flex;
    position: fixed;
    top: calc(100% - 103px);
    z-index: 2;
    min-width: 320px;
}

.botBorder .lightGrayBox {
    width: 130px;
}

.container {
    margin-top: 103px;
    padding-top: 37px;
    margin-bottom: 103px;
    padding-bottom: 50px;
    position: relative;
    background-color: #737352;
    flex-grow: 1;
}

#pokemonBoxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    margin-bottom: 50px;
}

.pokemonBox {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 125px;
    height: 125px;
    background-color: #f8f8f8;
    border-radius: 15px;
    border: 2px solid #585850;
    box-shadow: 0 0 10px 4px #2b2b2b;
    margin: auto;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    position: relative;
}

.pokemonBox:hover {
    background-color: #8c8c8c;
}

.sprite {
    width: 75px;
    height: 75px;
    margin: auto;
}

.redPokeball {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-15px, -15px);
    display: none;
}

.detailBox .redPokeball {
    width: 50px;
    height: 50px;
    transform: translate(-25px, -25px);
}

.isCaught {
    display: block;
}

.more {
    width: 150px;
    height: 50px;
    background-color: #8d3317;
    color: #f8f8f8;
    border: 2px solid #585850;
    font-size: 1.125rem;
    font-weight: bold;
    text-shadow: 2px 2px 1px #2b2b2b;
    border-radius: 15px;
    box-shadow: 0 0 10px 4px #2b2b2b;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.more:hover {
    background-color: #e4cc43;
    color: #585850;
}

#detail {
    display: none;
    position: fixed;
    top: calc(50% - 242.5px);
    left: calc(50% - 175px);
    z-index: 3;
    width: 350px;
    height: 500px;
    background-color: #ffffc6;
    margin: auto;
    border-radius: 15px;
    border: 4px solid #585850;
    box-shadow: 0 0 200px 200px #2b2b2b;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.detailBox {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: #f8f8f8;
    border: 2px solid #585850;
    border-radius: 15px;
    box-shadow: 0 0 10px 4px #2b2b2b;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-weight: bold;
    font-size: 2rem;
    text-align: center; position: relative;
}

.lowerDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#caught {
    grid-row: 1/3;
    grid-column: 2/3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#full {
    width: 240px;
    height: 240px;
    margin: auto;
}

.types {
    grid-row: 1/3;
    display: grid;
    gap: 10px;
}

.type {
    width: 125px;
    height: 40px;
    background-color: #2f4979;
    border: 2px solid #585850;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 0 10px 2px #2b2b2b;
    color: #f8f8f8;
    font-size: 1.125rem;
    font-weight: bold;
    text-shadow: 2px 2px 1px #2b2b2b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#type2 {
    display: none;
}

@media screen and (min-width: 700px) {
    #pokemonBoxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .titleBox {
        height: 60px;
        width: 395px;
        border-radius: 45px;
    }

    h1 {
        font-size: 2rem;
        transform: translate(0, -25%);
    }

    h1 img {
        width: 50px;
        height: 50px;
    }
    
    .lightGrayBox {
        width: 300px;
    }

    .lightGrayBox .more {
        font-size: 1.5rem;
    }

    .botBorder .lightGrayBox {
        width: 300px;
    }
    
    #pokemonBoxes {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 75px;
        margin-bottom: 75px;
    }

    .pokemonBox {
        width: 150px;
        height: 150px;
        font-size: 1.1rem;
    }

    .sprite {
        width: 100px;
        height: 100px;
    }

    .redPokeball {
        width: 50px;
        height: 50px;
        transform: translate(-25px, -25px);
    }

    .detailBox .redPokeball {
        width: 80px;
        height: 80px;
        transform: translate(-40px, -40px);
    }

    .more {
        width: 220px;
        height: 60px;
        font-size: 2rem;
    }

    #detail {
        top: calc(50% - 425px);
        left: calc(50% - 375px);
        z-index: 3;
        width: 750px;
        height: 850px;
    }

    .detailBox {
        width: 500px;
        height: 500px;
    }

    #full {
        width: 400px;
        height: 400px;
    }

    #fullName {
        font-size: 2.75rem;
    }

    .type {
        width: 200px;
        height: 60px;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1400px) {
    .lightGrayBox {
        width: 400px;
    }
    
    #pokemonBoxes {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 125px;
        margin-bottom: 125px;
    }

    #detail {
        width: 1350px;
        left: calc(50% - 675px);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #close {
        margin-bottom: 100px;
    }

    .detailBox {
        grid-row: 1/4;
        grid-column: 1/3;
        height: 750px;
        width: 750px;
    }

    #full {
        height: 600px;
        width: 600px;
    }

    #fullName {
        font-size: 4rem;
    }

    .lowerDetails {
        grid-row: 2/4;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .type {
        width: 275px;
        height: 75px;
        font-size: 2rem;
    }

    .type:nth-child(1) {
        margin-bottom: 10px;
    }

    #caught {
        grid-row: 3/3;
        grid-column: 1/2;
        margin-top: 50%;
    }
}